<center>
    <table width="1352px" style="border-image: linear-gradient(to right, #ff0000, #00ff00); border-image-slice: 1;">
        <tr>
            <td style="text-align: left">
                <img style="margin-left: 15px;width:80px; height:55px;cursor: pointer"
                     th:src="@{/image/logo.png}">
            </td>
            <td style="text-align: center">
                <a href="/admin/user"   style="font-size: 30px; margin-right: 80px; font-family: 'Your Artistic Font Name', cursive; font-weight: bold; color: #3366cc; border: none; background: none;" id="user" >用户管理</a>
                <a href="/admin/film"   style="font-size: 30px; font-family: 'Your Artistic Font Name', cursive; font-weight: bold; color: #3366cc; border: none; background: none;" id="film" >电影管理</a>
            </td>
            <td style="text-align: right">
                <span style="margin-right: 50px; text-decoration:none;">
                    <a href="/admin/toAdminLogout" style="color:#003467;">注销</a>&nbsp;&nbsp;
                </span>
            </td>
        </tr>
    </table>
</center>
