<script>
    function submitVip(email) {
        var imgVip = document.getElementById('imgVip');
        $.get("/index/submitVip", {
            "email": email
        }, function (result) {
            if (result === "success") {
                imgVip.src = "/image/diamond.png";
                imgVip.title = "取消VIP";
                window.location.reload();
                alert("开通成功")
            } else {
                imgVip.src = "/image/notDiamond.png";
                imgVip.title = "开通VIP";
                window.location.reload();
                alert("取消成功")
            }
        });
    }
    function cancelVip(email) {
        var imgNotVip = document.getElementById('imgNotVip');
        $.get("/index/submitVip", {
            "email": email
        }, function (result) {
            if (result === "success") {
                imgNotVip.src = "/image/diamond.png";
                imgNotVip.title = "取消VIP";
                window.location.reload();
                alert("开通成功")
            } else {
                imgNotVip.src = "/image/notDiamond.png";
                imgNotVip.title = "开通VIP";
                window.location.reload();
                alert("取消成功")
            }
        });
    }
</script>
<center>
  <table width=1352px border=0>
      <tr>
        <td style="text-align: center">
            <img style="margin-left: 15px;width:80px; height:55px;cursor: pointer"
                 th:src="@{/image/logo.png}" title="跳转首页"
                 onclick="window.location.href='/index'">
        </td>
        <td style="text-align: left" colspan="2">
            <form action="/index" method="post">
                <input type="text" name="keyword" placeholder="输入电影 / 导演 / 演员名字" style="padding-left: 10px;border-radius:10px; border: #D4D4D4 1px solid; width: 250px; height: 30px">
                <input type="submit" value="搜索" style="cursor:pointer;border-radius:10px;color:white;border: #003467 1px solid; background-color:#003467; width: 50px;height: 30px">
            </form>
        </td>
        <td style="text-align: right">
            <span style="margin-right: 41px" th:if="${session.memberLogin}">
                <a href="/favor/showFavor" style="color: #003467">收藏</a>&nbsp;&nbsp;
                <a href="/index/logOut" style="color: red">注销</a>&nbsp;&nbsp;
                <img th src="/image/user.png" style="width: 40px; height: 40px">
                <img th:if="${session.memberLogin.isVip()}" src="/image/diamond.png"
                     id="imgVip" title="取消VIP"
                     style="width: 20px; height: 20px; cursor: pointer"
                     th:attr="email=${session.memberLogin.email}"
                     onclick="submitVip(this.getAttribute('email'))">
                <img th:unless="${session.memberLogin.isVip()}" src="/image/notDiamond.png"
                     id="imgNotVip" title="开通VIP"
                     style="width: 20px; height: 20px; cursor: pointer"
                     th:attr="email=${session.memberLogin.email}"
                     onclick="cancelVip(this.getAttribute('email'))">
            </span>
        </td>
        <td style="text-align: right">
            <p th:unless="${session.memberLogin}">
                <span style="margin-right: 50px; font-size:x-small;text-decoration:none;">
                    <a href="/index/toLogin" style="color:#003467;">登录</a>&nbsp;&nbsp;
                    <a href="/index/toRegister" style="color:#003467;">注册</a>&nbsp;&nbsp;
                    <a href="/admin/toAdminLogin" style="color:#003467;">后台登录</a>&nbsp;&nbsp;
                </span>
            </p>
        </td>
      </tr>
  </table>
</center>
<!--#00cccb-->
<!--#003467-->